# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

5 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [3]:
# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
train_num = train_Y.shape[0]
df.head()

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

# 作業1
* 試著在補空值區塊, 替換並執行兩種以上填補的缺值, 看看何者比較好?

In [4]:
# 空值補 -1, 做羅吉斯迴歸
df_m1 = df.fillna(-1)
train_X = df_m1[:train_num]
estimator = LogisticRegression()
print('補-1: ', cross_val_score(estimator, train_X, train_Y, cv=5).mean())

"""
Your Code Here
"""

# 空值補 mean
df_m2 = df.fillna(df.mean())
train_X2 = df_m2[:train_num]
estimator2 = LogisticRegression()
print('補mean: ', cross_val_score(estimator2, train_X2, train_Y, cv=5).mean())

# 空值補 median
df_m3 = df.fillna(df.median())
train_X3 = df_m3[:train_num]
estimator3 = LogisticRegression()
print('補median: ', cross_val_score(estimator3, train_X3, train_Y, cv=5).mean())

補-1:  0.6960299128976762
補mean:  0.6981761033723469
補median:  0.6992934218081011

# 作業2
* 使用不同的標準化方式 ( 原值 / 最小最大化 / 標準化 )，搭配羅吉斯迴歸模型，何者效果最好?

In [5]:
"""
Your Code Here
"""

# Original Value
## 空值補-1
### 原值
### MinMaxScaler
### StandardScaler
print('=====Fill -1 Value=====')
print('Original: ', cross_val_score(estimator, train_X, train_Y, cv=5).mean())
O_MMS = MinMaxScaler()
O_MMS_train_X = O_MMS.fit_transform(train_X)
O_MMS_estimator = LogisticRegression()
print('MinMaxScaler: ', cross_val_score(O_MMS_estimator, O_MMS_train_X, train_Y, cv=5).mean())
O_SS = StandardScaler()
O_SS_train_X = O_SS.fit_transform(train_X)
O_SS_estimator = LogisticRegression()
print('StandardScaler: ', cross_val_score(O_SS_estimator, O_SS_train_X, train_Y, cv=5).mean())


## 空值補mean
### 原值
### MinMaxScaler
### StandardScaler
print('\n=====Fill Mean Value=====')
print('Original: ', cross_val_score(estimator2, train_X2, train_Y, cv=5).mean())
M_MMS = MinMaxScaler()
M_MMS_train_X = M_MMS.fit_transform(train_X2)
M_MMS_estimator = LogisticRegression()
print('MinMaxScaler: ', cross_val_score(M_MMS_estimator, M_MMS_train_X, train_Y, cv=5).mean())
M_SS = StandardScaler()
M_SS_train_X = M_SS.fit_transform(train_X2)
M_SS_estimator = LogisticRegression()
print('StandardScaler: ', cross_val_score(M_SS_estimator, M_SS_train_X, train_Y, cv=5).mean())

## 空值補median
### 原值
### MinMaxScaler
### StandardScaler
print('\n=====Fill Median Value=====')
print('Original: ', cross_val_score(estimator3, train_X3, train_Y, cv=5).mean())
MD_MMS = MinMaxScaler()
MD_MMS_train_X = MD_MMS.fit_transform(train_X3)
MD_MMS_estimator = LogisticRegression()
print('MinMaxScaler: ', cross_val_score(MD_MMS_estimator, MD_MMS_train_X, train_Y, cv=5).mean())
MD_SS = StandardScaler()
MD_SS_train_X = MD_SS.fit_transform(train_X2)
MD_SS_estimator = LogisticRegression()
print('StandardScaler: ', cross_val_score(MD_SS_estimator, MD_SS_train_X, train_Y, cv=5).mean())

=====Fill -1 Value=====
Original:  0.6960299128976762
MinMaxScaler:  0.7038635542329971
StandardScaler:  0.6982582017719778

=====Fill Mean Value=====
Original:  0.6981761033723469
MinMaxScaler:  0.6982266036406296
StandardScaler:  0.6959413955734954

=====Fill Median Value=====
Original:  0.6992934218081011
MinMaxScaler:  0.6971030081350117
StandardScaler:  0.6959413955734954

In this case, The best result is filling -1 to the missing value and using MinMax Scaler get the highest score 0.703